[submodule "libs/rabbitmq-c"]
	path = libs/rabbitmq-c
	url = git@github.com:Kuzmenko-Pavel/rabbitmq-c.git
[submodule "libs/amqpcpp"]
	path = libs/amqpcpp
	url = git@github.com:Kuzmenko-Pavel/amqpcpp.git
[submodule "libs/kompex-sqlite-wrapper"]
	path = libs/kompex-sqlite-wrapper
	url = git@github.com:Kuzmenko-Pavel/kompex-sqlite-wrapper.git
[submodule "libs/fast_cgi"]
	path = libs/fast_cgi
	url = https://github.com/Kuzmenko-Pavel/FastCGI.git
